// Specific CSS for your home-page


.cocktail-title {
  margin-top: 0px;
  background-color: #3A414B;
  color: white;
  padding: 100px 0px;
  h3 {
    margin-top: 0px;
  }
}

.cocktail-list {
  margin-top: 50px;
}
