// Specific CSS for your home-page


.cocktail-title {
  margin-top: 0px;
  background-color: #eb9f48;
  color: white;
  padding: 100px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.drink {
  height: 100px;
  width: 100px;
}

.cocktail-list {
  margin-top: 0px;
  background-color: white;
}

