.home-banner {
  background-image: asset-url('banner.jpeg');
  color: white;
  text-align: center;
  height: 70vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
