.card {
  height: 400px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-position: center;
  background-size: cover !important;
  color: white;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 4);
  position: relative;
  &:hover {
    opacity: 0.8;
  }
}

.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
